@model IEnumerable<ISTODB_application3.Models.UNIVERMAG>

@{
    ViewBag.Title = "Index";
}
@*@using (Html.BeginForm("Details", "DetailsController")){*@
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            IMJA_TORG_TOCHKI
        </th>
        <th>
            RAZMER_TORG_TCHK
        </th>
        <th>
            CHISLO_PRILAVKOV
        </th>
     <!--   <th>
            PRODAZHI1
        </th> -->
        <th></th>
    </tr>

@foreach (var item in Model) {
    

    <tr>
        <td class="display-field">
            @Html.DisplayFor(model => item.TORGOVAJA_TOCHKA.IMJA_TORG_TOCHKI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RAZMER_TORG_TCHK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHISLO_PRILAVKOV)
        </td>
       <!-- <td>
            @Html.DisplayFor(modelItem => item.PRODAZHI1.ID)
        </td>-->
        <td>
           
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            
        </td>
    </tr>

}

</table>
@*} *@