@model ISTODB_application3.Models.NOMENKLTR_TCHK

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NOMENKLTR_TCHK</legend>

    <div class="display-label">TORGOVAJA_TOCHKA1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TORGOVAJA_TOCHKA1.IMJA_TORG_TOCHKI)
    </div>

    <div class="display-label">SPISOK_TOVAROV</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SPISOK_TOVAROV.TOVAR)
    </div>

    <div class="display-label">KOLICHESTVO</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KOLICHESTVO)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
