@model IEnumerable<ISTODB_application3.Models.NOMENKLTR_TCHK>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            TORGOVAJA_TOCHKA1
        </th>
        <th>
            SPISOK_TOVAROV
        </th>
        <th>
            KOLICHESTVO
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TORGOVAJA_TOCHKA1.IMJA_TORG_TOCHKI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPISOK_TOVAROV.TOVAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KOLICHESTVO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new {  id=item.TORGOVAJA_TOCHKA1.ID }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
