@model IEnumerable<ISTODB_application3.Models.PRODAZHI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            PRODAVCY
        </th>
        <th>
            POKUPATELI
        </th>
        <th>
            DATA
        </th>
        <th>
            SPISOK_TOVAROV
        </th>
        <th>
            KOLICHESTVO
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRODAVCY.IMJA_PRODAVCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POKUPATELI.IMJA_POKUPATELJA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPISOK_TOVAROV.TOVAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KOLICHESTVO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
